# Google credentials and tokens
credentials.json
token-*.json

# Chart images
charts/*.png

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS cruft
.DS_Store
Thumbs.db
credentials.json
token*.json
charts/*.png
